includes:
  - ./vendor/nunomaduro/larastan/extension.neon
  - ./vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:

  paths:
    - src

  # The level 8 is the highest level
  level: max

  checkMissingIterableValueType: false

  checkGenericClassInNonGenericObjectType: false

  reportUnmatchedIgnoredErrors: false

  ignoreErrors:
      - '#Internal.*#'
      - '#Cannot access offset .* on array\{scheme.*#'

  strictRules:
      disallowedLooseComparison: true
      booleansInConditions: true
      uselessCast: true
      requireParentConstructorCall: true
      disallowedConstructs: true
      overwriteVariablesWithLoop: true
      closureUsesThis: true
      matchingInheritedMethodNames: true
      numericOperandsInArithmeticOperators: true
      strictCalls: false
      switchConditionsMatchingType: true
      noVariableVariables: false

  stubFiles:
      - tests/Static/phpstan/stubs/laravel-helpers.php

  treatPhpDocTypesAsCertain: false
